.task-title-input {
    width: 100%;
  
    border-radius: 8px ;
    border: 1px solid #00000021; /* Border color */
    padding: 10px;
    font-size: 14px;
    outline: none;
  }
  
  .task-title-input::placeholder {
    color: #888; /* Placeholder text color */
  }
  